<Doctype html>
<html>
<head>
  <title>Add Genre</title>
</head>

<body>
  <h1>Add Genre</h1>
   <p>
     {{token}}
   </p>
  <form method="post" action="/">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <input type="submit" value="Enter Genre" />
  </form>
</body>

</html>
