<Doctype html>
<html>
<head>
  <title>Ednology Movie Rental</title>
</head>

<body>
  <h1>Welcome to Ednology Movie Rental!</h1>
   <p>Do you want to see the movie listing? if Yes <a href="/login">Click Me!</a></p>


</body>

</html>
