<Doctype html>
<html>
<head>
  <title>Password Reset</title>
</head>

<body>
  <h1>Password Reset</h1>
  <p>{{emailErr}}</label></p>
  <p>{{passwordErr}}</p>
  
  <form method="post" action="/api/users/passwordreset">

    <label for="email">Email: </label>
    <input type="text" name="email" id="email" />
    <label for="password">New password</label>
    <input type="password" name="password" id="password" />
    <label for="confirmpassword">Re-enter your password</label>
    <input type="password" name="confirmpassword" id="confirmpassword" />
    <input type="submit" value="Validate" />
  </form>

</body>

</html>
